<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main_content"><header>{{>header}}</header>
        <p>This site is created by Barath Kumar S. It uses data from mapbox.com and darkshy .com</p>
        <img class="portrait" src="/img/img.jpg"></div>
        
        <footer>{{>footer}}</footer>
    </body>
</html>
